{
    box-sizing: border-box;
}

body {
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #333333;
    border-radius: 5px;
    height: 5%;
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ee3355;
    color: black;
}

.topnav puser{
    text-align: center;
    padding: 14px 16px;
    display: block;
    float: right;
    color: #f1f1f1;
}


.topnav p {
    text-align: center;
    padding: 14px 16px;
    display: block;
    float: right;
    color: #ee3355;
}

.content {
    background-color: #ddd;
    padding: 10px;
    height: 80%;
    overflow: scroll;
}

.color-animation-welcome-text{
    font-size: 150px;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    alignment: bottom;
    height: 10%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr td {
    padding: 20px 20px 20px 20px;
}



.table {
    overflow: auto;
    width: 50%;
    border: 0px solid #333333;
    margin-left: 100px;
}

.table h6 {
    padding: 20px 20px 20px 20px;
    font-size: 16px;
}

.my-button{ /*button rounded edges*/
    background-color: #333333;
    color: #f1f1f1;
    font-size: 12px;
    text-decoration-line: none;
    border-radius: 3px;
    min-width: 30px;
    text-align: center;
    padding: 5px 12px;
    display: inline-block;
}

.my-button:hover{
    background-color: black;
    color: #ee3355;
    text-decoration-line: none;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

form.search input[type=text]{
    padding: 5px;
    font-size: 16px;
    float: left;
    width: 80%;
    border: 1px #333333;
    background-color: #f1f1f1;
}

form.search button{
    float: left;
    border: 1px #333333;
    border-left: none;
    cursor: pointer;
    width: 20%;
    padding: 5px;
}

/*http://jsfiddle.net/vfUvZ/*/
.content input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content input[type=password] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.content input[type=text]:focus {
    border-color:#333;
}

.content input[type=password]:focus {
    border-color:#333;
}

.content input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:1 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}